.container {
  width: 20%;
  margin: 2rem auto;
  background-color: #181818;
  color: #eee;
}

.item {
  list-style: none;
  padding: 0.4rem 0;
}

.card {
  width: 30%;
  margin: 4rem auto;
  padding: 0.5rem 0;
  background-color: #212121;
  color: #eee;
  text-align: center;
}

.title {
  font-size: 2rem;
}
