.container {
  margin: 0 4rem;
  position: relative;
}

.info {
  position: absolute;
  top: 2rem;
  right: 4rem;
  width: 280px;
  font-size: 1.2rem;
  background-color: #aaa;
  padding: 2rem;
  text-align: center;
}

.title {
  text-align: center;
}

.list {
  width: 20%;
}

.card {
  padding: 0.2rem 2rem;
  background-color: #212121;
  color: white;
  list-style: none;
  margin-bottom: 0.5rem;
}

.link {
  color: #0070f3;
}
